<h1><%= @restaurant.name %></h1>

<p class="well"><%= @restaurant.address %></p>

<p class="well"><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
    <%=review.content  %>
    <%=review.rating  %>
    <% end %>




<hr>
<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
